<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-container">
            <a class="navbar-brand" href="#">TransMonitor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
                <div class="input-container">
                    <i class="fa fa-search"></i>
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                </div>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="#">Support</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item position-relative">
                    <i class="fa fa-bell-o notification"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                             8
                            <span class="visually-hidden">unread messages</span>
                        </span>
                </li>
                <li class="nav-item">
                  <a class="nav-link">
                    <div class="profile">
                        <div class="profile-text">
                            <span>Hello</span>
                            <p><strong>Oluwakunle Ojo</strong></p>
                        </div>

                        <img src="../../../assets/profile.png" alt="profile image">

                    </div>
                  </a>
                </li>
              </ul>
              
        </div>
    </div>
  </nav>