<div class="sidebar-container">
    <div class="invoice">
        <button type="button" class="btn btn-primary invoice">GENERATE INVOICE</button>
    </div>

    <div class="menu-list">
        <div class="side-list">
            <ul>
                <li class="list-header">Main</li>
                <li class="active">
                    <a href="#">
                        <i class="fa fa-tachometer"></i>
                        Overview
                    </a>
                </li>
            </ul>
        </div>

        <div class="side-list">
            <ul>
                <li class="list-header">Payments</li>
                <li>
                    <i class="fa fa-folder-open-o"></i>
                    All Payments
                </li>
                <li>
                    <i class="fa fa-folder-open-o"></i>
                    Reconcilled Payments
                </li>
                <li>
                    <i class="fa fa-folder-open-o"></i>
                    Un - Reconcilled Payments
                </li>
                <li>
                    <i class="fa fa-bullseye"></i>
                   Manual Settlement
                </li>
            </ul>
        </div>

        <div class="side-list">
            <ul>
                <li class="list-header">Orders</li>
                <li>
                    <i class="fa fa-file-text-o"></i>
                    All Orders
                </li>
                <li>
                    <i class="fa fa-file-text-o"></i>
                    Pending Orders
                </li>
                <li>
                    <i class="fa fa-file-text-o"></i>
                    Reconcilled Orders
                </li>
            </ul>
        </div>

        <div class="side-list">
            <ul>
                <li>
                    <i class="fa fa-user-o"></i>
                    Merchant Profile
                </li>
            </ul>
        </div>
        
    </div>
</div>